<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">

        <legend>Request an Appointment</legend>
        <label>First name:
            <input type="text" name="fname">
        </label>
        <label>Last name:
            <input type="text" name="lname">
        </label>
        <label>Date:
            <input type="date" name="date1">
        </label>
        <label>Time:
            <input type="time" name="time1">
        </label>

        <button type="submit">
            Submit
        </button>


    </form>

    
</body>
</html>